.calculator {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  padding: 1rem;
  position: fixed;
  top: 177px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}
.calculatorDefaultInputs {
  display: flex;
  justify-content: space-between;
}
.disabled,
.disabled:hover {
  color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}
.header {
  width: 100%;
  top: 0;
  position: fixed;
  text-align: center;
  padding: 1rem;
}
.priceCard {
  position: fixed;
  top: 92px;
  width: 100%;
  text-align: center;
}
