.calculator {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  padding: 1rem;
  position: absolute;
  top: 261px;
  bottom: 0;
  overflow-y: auto;
}
.calculatorDefaultInputs {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.trash {
  color: rgb(59 130 246 / 0.9);
}
.trash:hover {
  color: rgba(255, 25, 75, 0.9);
}
.trash.disabled,
.trash.disabled:hover {
  color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}
.header {
  width: 100%;
  top: 0;
  position: fixed;
  text-align: center;
  padding: 1rem;
}
.priceCard {
  position: fixed;
  top: 135px;
  width: 100%;
  text-align: center;
}
.priceCard .card {
  padding: 1rem;
}
.priceCard .card-body {
  padding: 1rem 0 0 0;
  gap: 0;
}
.priceCard .badge {
  height: 45px;
  border-color: #65c3c8;
}
